body {
    margin: 0;
    background-color: rgba(39, 140, 165, 0.527);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #070606;
    background-color: #080808;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: rgb(37, 37, 139);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: rgb(161, 19, 19);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(247, 247, 23);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(3, 71, 3);
    border-top-left-radius: 100%;
}

.selected {
    opacity: .9;
}
